html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#root,
.ant-layout-has-sider {
  height: 100%;
  padding: 0px 0px 24px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ant-layout-content {
  padding: 0px !important;
}

[id^="components"] {
  margin-bottom: 40px;
}
